logging.level.org.springframework=DEBUG
logging.level.web=DEBUG

# Default linux host Docker address
spring.datasource.url=jdbc:mysql:/localhost:3306/car_discover

spring.datasource.username=DB username here
spring.datasource.password=DB password here
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
hibernate.show_sql = true
# none: No database schema will be created or dropped.
# create: The database schema will be created if it does not exist.
# create-drop: The database schema will be created and dropped on startup and shutdown.
# update: The database schema will be updated if it exists.
spring.jpa.hibernate.ddl-auto=update
server.address=localhost
server.port=8080