/* Row hover bakground */
.not-chosen-hover-state:hover{
    background-color: hsl(55, 100%, 84%)!important;
}
.added-to-row {
    background-color: hsla(51, 100%, 55%, 0.927)!important;
}

.show-pointer:hover {
    cursor: pointer;
    /* min-width: 100%!important; */
    /* display: flex!important; */
    /* flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem; */
}